:root {
  --color-c1aa94: #c1aa94;
  --color-85ba6a: #85ba6a;
  --color-1a7749: #1a7749;
  --color-0b2e2f: #0b2e2f;
  --color-01121c: #01121c;

  --color-white: #f0f0f0;
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;

  background-color: var(--color-white);
  color: var(--color-01121c);
}

.root {
  width: 100%;
  min-height: 100%;
  padding: 140px 20% 180px;

  display: flex;
  align-items: stretch;
  justify-content: center;
}

.topbar {
  width: 100%;
  height: 120px;
  top: 0;
  left: 0;

  padding: 0 60px;

  position: fixed;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  background: var(--color-1a7749);
  color: var(--color-white);
}

.topbar > .title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.topbar > .title > * {
  display: inline-block;
}

.topbar > .title > h1 {
  margin: 0;
  margin-right: 10px;
  font-family: "Pacifico";
  font-weight: 200;
}

.topbar > .title > img {
  width: 36px;
  height: 36px;
}

.topbar > .buttons {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: flex-start;
}

.topbar > .buttons > * {
  margin: 0 5px;
}

.topbar > .buttons > .github {
  background: #050910;
}

.topbar > .buttons > .invite {
  background: #5865f2;
}

.main {
  height: 100%;
  min-width: 50%;
}

.main:first-child {
  margin-top: 0;
}

.main > details > summary {
  cursor: pointer;
  list-style-type: none;
}

.main > details > summary::before {
  content: "+";
  padding-right: 10px;
}

.main > details[open] > summary::before {
  content: "-";
  padding-right: 10px;
}

footer {
  width: 100%;
  height: 80px;

  left: 0;
  bottom: 0;

  position: fixed;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background-color: var(--color-0b2e2f);
  color: var(--color-white);
}

@media screen and (max-width: 820px) {
  .root {
    padding: 140px 40px 180px;
    justify-content: stretch;
  }
}

@media screen and (max-width: 800px) {
  .topbar > .buttons {
    position: fixed;
    bottom: 100px;
    right: 20px;
  }

  .root {
    padding: 80px 40px 180px;
  }

  .topbar {
    height: 80px;
    padding: 0 40px;
  }
}

/* items */

ul.dot {
  margin-left: 16px;
  list-style-type: disc;
  list-style-position: outside;
  padding-left: 0;
}

ul > * {
  padding-bottom: 4px;
}

ul:last-child {
  padding-bottom: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

a.link {
  color: var(--color-85ba6a);
  text-decoration: underline;
}

a:visited.visited {
  color: var(--color-85ba6a);
}

a.button {
  height: 40px;
  min-width: 120px;

  padding: 0 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 4px;

  color: var(--color-white);
  background-color: var(--color-85ba6a);
  border: 1px solid var(--color-0b2e2f);
}

i.inline-code {
  font-style: inherit;
  text-decoration: inherit;
  padding: 1px 4px;
  border-radius: 4px;
  background: #dbdbdb;
  display: inline;
}

p.code-block {
  overflow-y: hidden;
  overflow-x: auto;
  display: block;
  border-radius: 5px;
  padding: 10px;
  background: #dbdbdb;
  white-space: nowrap;
}

p.code-block::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  position: fixed;
}

p.code-block::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

p.code-block::-webkit-scrollbar-track {
  background: transparent;
}

p.code-block::-webkit-scrollbar-thumb {
  background: #adadad;
}
